.sticker-pack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media screen and (min-width: 301px) and (max-width: 439px) { 
    grid-template-columns: repeat(2, 1fr); 
  } 
  @media screen and (max-width: 300px) { 
    grid-template-columns: 1fr;
    justify-items: center;
  }
  gap: 2em;
  span.sticker-holder {
    position: relative;
    cursor: pointer;
    border-radius: var(--d-border-radius);
    @include user-select(none);
    @include hover {
      background: var(--primary-low);
    }
    .discourse-touch & {
      -webkit-tap-highlight-color: rgba(var(--primary-rgb), 0.06);
    }
    img.sticker {
      display: flex;
      width: 100px;
      height: 100px;
      padding: 0.5em;
      @if $stickers_shadow == "true" {
        filter: drop-shadow(2px 2px 2px rgba(var(--always-black-rgb), 0.8));
      }
      &.picked {
        animation: picked 0.45s;
        @media (prefers-reduced-motion) {
          animation-duration: 0s;
        }
      }
    }
    span.emoji-alt {
      position: absolute;
      top: 0.25em;
      right: 0.25em;
      font-size: var(--font-up-2);
      line-height: 1;
      pointer-events: none;
    }
  }
}

.d-wrap[data-wrap="sticker"] {
  @include user-select(none);
  img {
    width: 180px !important;
    height: 180px !important;
    aspect-ratio: 180 / 180 !important;
    @if $stickers_shadow == "true" {
      filter: drop-shadow(2px 2px 2px rgba(var(--always-black-rgb), 0.8));
    }
  }
  .button-wrapper {
    display: none;
  }
  a.lightbox {
    .discourse-touch & {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      transition: filter 200ms;
      &:active {
        filter: brightness(0.8);
      }
    }
    img {
      width: 180px !important;
      height: 180px !important;
      aspect-ratio: 180 / 180 !important;
      @if $stickers_shadow == "true" {
        filter: drop-shadow(2px 2px 2px rgba(var(--always-black-rgb), 0.8));
      }
    }
    &:focus,
    &:hover {
      box-shadow: none;
    }
    .meta {
      display: none;
    }
  }
}

@keyframes picked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
